h1 {
    margin-left: 40%;
    margin-top: 22%;
    font-size: 565%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    background-color: rgb(63, 63, 63);
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 46%;
    font-size: 340%;
}